.btn {
  text-decoration: none;
  padding: 6px 14px;
  margin-left: 15px;
  border: 1px solid;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  background: inherit;
  color: rgb(50, 50, 50);
  border: 1px solid rgb(50, 50, 50);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    background: rgb(50, 50, 50);
    color: rgb(240, 240, 240);
  }
}
