@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap");
@import "./style/reset.scss";
@import "./style/vars.scss";

html {
  font-family: "Kanit", sans-serif;
<<<<<<< HEAD
  background: $mainGreyColor;
=======
  background: rgb(240, 240, 240);
>>>>>>> 84552f0a5f087fe6eea15911cc12cc3a02ef97e4
}

#root {
  width: 100wh;
  height: 100vh;
<<<<<<< HEAD
  color: $mainBlackColor;
  font-size: 25px;
=======
  color: rgb(50, 50, 50);
>>>>>>> 84552f0a5f087fe6eea15911cc12cc3a02ef97e4
}

.App {
  max-width: 800px;
  margin: 0 auto;
}
